#top_layout {

}
#top_left {
    display: inline-block;
    float: left;
    margin: 35px;

}
#user_icon {
    width: 230px;
    height: 230px;
    border-radius: 1em;
}


/*user info p style*/
#user_info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 20px;
}
.setting_p {
    color: #6c6c6c;
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
}
.info_p {
    color: #6c6c6cae;
    margin: 5px;
    font-size: 18px;
}

#user_btn {
    display: inline-block;
}
.btn_set {
    border: 0;
    outline: 0;
    padding: 0px;
    position: relative;
    left: 0px;
    top: 0px;

}

#top_right {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
#count_left {
    display: inline-block;
}
#count_right {
    display: inline-block;
}
