*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
}

body {
    background-image: d2#dedddd;
    background-color: #dedddd;
}

.loginForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.loginForm h2{
    text-align: center;
    margin: 30px;
}

.singupForm {
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;  
}

.singupForm h2 {
    text-align: center;
    margin: 30px;
}

.userForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.idForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}

.user {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

.btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: #992fe9;
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}

.btn:hover {
    background: rgb(182, 182, 182);
    color: #1D1D1D;
}

.bottomText {
    text-align: center;
}
#signup_from {
    position: absolute;
    width: 300px;
    height: 400px;
    padding: 30px, 20px;
    background-color: #FFFFFF;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
#signup_from h2 {
    margin: 30px;
}